.referral .pt-\[96px\] {
  padding-top: 96px;
}
.referral .p-\[8px\] {
  padding: 8px;
}
.referral .self-start {
  align-self: flex-start;
}
.referral .gap-\[10px\] {
  gap: 10px;
}
.referral .items-center {
  align-items: center;
}
.referral .inline-flex {
  display: inline-flex;
}
.referral ._btn_dcpj6_1 svg {
  transition: all 0.3s ease;
}
.referral .text-\[\#fff\],
.referral .text-\[white\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.referral .font-\[500\] {
  font-weight: 500;
}
.referral .justify-center {
  justify-content: center;
}
.referral .flex {
  display: flex;
}
.referral .mt-\[24px\] {
  margin-top: 24px;
}
.referral .mb-\[12px\] {
  margin-bottom: 12px;
}
.referral .relative {
  position: relative;
  z-index: 9;
}
.referral .left-\[50px\] {
  left: 50px;
}
.referral .bottom-\[20px\] {
  bottom: 20px;
}
.referral .text-defaultOrange {
  color: #fc6432;
}
.referral .font-\[500\] {
  font-weight: 500;
}
.referral .text-\[42px\] {
  font-size: 42px;
}
.referral .mb-\[12px\] {
  margin-bottom: 12px;
}
.referral .top-\[0\],
.referral .top-\[0px\] {
  top: 0;
}
.referral .right-\[40px\] {
  right: 40px;
}
.referral .text-\[\#D6D6D6\] {
  --tw-text-opacity: 1;
  color: rgb(214 214 214 / var(--tw-text-opacity));
}
.referral .text-\[16px\] {
  font-size: 16px;
}
.referral .flex-col {
  flex-direction: column;
}
.referral .flex {
  display: flex;
}
.referral .mt-\[24px\] {
  margin-top: 24px;
}
.referral .text-\[\#F5F5F4\] {
  --tw-text-opacity: 1;
  color: rgb(245 245 244 / var(--tw-text-opacity));
}
.referral .font-\[500\] {
  font-weight: 500;
}
.referral .text-\[20px\] {
  font-size: 20px;
}
.referral .text-center {
  text-align: center;
}
.referral .mt-\[12px\] {
  margin-top: 12px;
}
.referral .relative {
  position: relative;
}
.referral ._copyWrapper_1fjrj_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 38px;
  padding: 5px 12px;
  background: #110f1652;
  max-width: 100%;
}
.referral ._copyText_1fjrj_12 {
  color: #d6d6d6;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.7px;
}
.referral ._copyBtn_1fjrj_20 {
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .referral .laptop\:text-center {
    text-align: center;
  }
  .referral .laptop\:text-\[64px\] {
    font-size: 64px;
  }
  .referral .laptop\:text-center {
    text-align: center;
  }
  .referral .laptop\:max-w-\[504px\] {
    max-width: 520px;
  }
  .referral .laptop\:pt-\[132px\] {
    padding-top: 132px;
  }
}
