body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif !important;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.section-width {
  max-width: 1300px;
  margin: auto;
  padding-inline: 20px;
}
.new-linear {
  background: linear-gradient(180deg, #050510 0%, #0c142b 100%);
}
.home-bg {
  background: linear-gradient(180deg, #050510 0%, #0c142b 100%);
}
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}
.gap-24px {
  gap: 24px;
}
.p-24px {
  padding: 24px;
}
.px-24px {
  padding-inline: 24px;
}
.pt-24px {
  padding-top: 24px;
}
/*  */
.navbar {
  padding-block: 26px;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(10, 7, 37, 0.6) 0.66%,
    rgba(1, 88, 232, 0.138) 50.83%,
    rgba(8, 10, 24, 0.6) 100%
  );
  border-image-slice: 1;
}
.flex-sp {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;

  list-style: none;
  gap: 40px;
  align-items: center;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}
.nav-links li a.active {
  font-weight: 600;
}

.login-btn {
  color: white;
  border: 1px solid #4c546c;
  padding: 10px 16px 10px 16px;
  border-radius: 64px;
  background-color: transparent;
}
.exchange-btn {
  border: none;
  color: white;
  background: linear-gradient(115.1deg, #3150dc 11.08%, #3091fc 74.92%);

  padding: 10px 16px 10px 16px;
  border-radius: 400px;
  background-color: transparent;
}
.account-btns {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  font-weight: 600;
}
.rounded-lg {
  border-radius: 16px !important;
}
.main-dashboard .rounded-lg {
  border-radius: 16px;
}
.top-206 {
  top: 206px;
}
.textColor {
  background: linear-gradient(90.05deg, #3d7af2 6.09%, #ffffff 75.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.mt-20 {
  margin-top: 20px;
}
.mt-0 {
  margin-top: 0 !important;
}
.btn-ext {
  box-shadow: 0px 6px 26px 0px #0c46974a;

  margin-top: 48px !important;
}
.section-width {
  max-width: 1500px;
  margin: auto;
  padding-inline: 25px;
}
.custom-text {
  font-size: 56px;
}
.main-footer {
  margin-top: 100px;
}
.custom-ft {
  margin-top: 24px;
}
.privacy-pg .main-nav,
.privacy-pg .section-width.bg-\[\#050511\] {
  background: #171f38;
}
.min-e {
  min-height: 100vh;
}
@media (min-width: 768px) {
  .textColor {
    line-height: 68px;
  }
}

/*  */
@media (max-width: 768px) {
  .h-\[600aapx\] {
    height: 600px;
  }
  .main-footer {
    margin-top: 50px;
  }
  .custom-text {
    font-size: 30px;
  }
  .smtext-28px {
    font-size: 32px;
  }
  .sm\:\pt-\[100px\] {
    padding-top: 100px;
  }
  .px-0sm {
    padding-inline: 0 !important;
  }
  .fixsm {
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .nav-bar-m {
    position: fixed;
    width: 100%;
  }
  .dashboard-layout {
    padding-top: 100px;
  }
  .mobile-nav {
    position: fixed;
    background: #171f38;
    width: 100%;
  }
}
.pb-custom {
  padding-bottom: 19px;
}

@media (max-width: 600px) {
  .two-ob,
  .main-dashboard {
    padding-inline: 20px;
  }
}
